* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
a {
  text-decoration: none;
  color: #ffffff;
}

/* Navbar Section */

#navbar {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0.75rem;
  height: 70px;
}

#navbar ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#navbar ul li a {
  padding: 0.75rem;
  -webkit-transition: 0.7s, 0.7s;
  -o-transition: 0.7s, 0.7s;
  transition: 0.7s, 0.7s;
}
#navbar ul li a:hover {
  background-color: #353839;
  border-radius: 2px;
}

/* Home Section */

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem;
  border-bottom: 1px solid gray;
}
#home img {
  max-width: 100%;
  height: 250px;
  border-radius: 100%;
}
#home .name h2 {
  margin-bottom: 0.75rem;
}
#home .name p {
  opacity: 0.6;
}


/* About Section */

#about p{
  text-align: center;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  padding: 1rem;
  letter-spacing: 0.5px;
  font-weight: 400;
  font-size: 1rem;
  margin: 0px 30rem;
}

/* Project Section */

#projects {
  color: #353839;
}
#project .container {
  padding: 1rem;
}
.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1rem;
}
.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
.projects .project .project-image {
  width: 350px;
  margin-right: 0.5rem;
  position: relative;
}
.projects .project .project-image img {
  border-radius: 5px;
  width: 20rem;
  height: 20rem;
}
.projects .project .project-image span {
  background-color: #ffffff;
  color: #353839;
  padding: 0.25rem;
  position: absolute;
  top: 0;
  left: 0;
  border: 2px solid black;
}
.projects .project .project-info .title {
  letter-spacing: 1.2px;
  font-weight: 700;
  margin-bottom: 0.25rem;
}
.projects .project .project-info .description {
  letter-spacing: 1.2px;
  margin-bottom: 0.25rem;
  opacity: 0.6;
}
.projects .project .project-info .instructor {
  letter-spacing: 1.2px;
  opacity: 0.6;
  margin-bottom: 0.25rem;
}

/* Contact */

#contact {
  color: #ffffff;
  padding: 1rem;
}

#contact .contact-form {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#contact button {
  border: 0px;
}
#contact .contact-form ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
#contact .contact-form ul li a {
  padding: 1rem;
  font-size: 2rem;
}

.typewriter {
  color: #353839;
  overflow: hidden;
  border-right: .15em solid rgb(0, 0, 0);
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  -webkit-animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
          animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@-webkit-keyframes typing {
  from { width: 0 }
  to { width: 75% }
}

@keyframes typing {
  from { width: 0 }
  to { width: 75% }
}

@-webkit-keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0, 0, 0) }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: rgb(0, 0, 0) }
}