#navbar {
  flex-direction: column;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  overflow: hidden;
  height: 100px;
}
<<<<<<< HEAD
#about p{
  justify-content: center;
  text-align: center;
  margin: 1rem;
}
=======
>>>>>>> 8cccebb (08.03.24)
.projects .project {
  flex-direction: column;
}
